[2014-07-19 07:05] netaisllc opened #2 "Move UI out of the '90s"
Hi Matt,

This is a great project! ... but alas it hurts my eyes.

Maybe this could help: [http://cssian.com/jtg/index.html](http://cssian.com/jtg/index.html)

Would you consider a PR?

[2014-07-24 21:44] mholt opened #3 "Rename to "Takeout""
This is just a memo to self.

Subtitle will be "JSON to Go", from current title.

[2014-08-16 04:09] #2 closed, assigned to nobody

[2014-11-30 03:47] #3 closed, assigned to nobody

[2015-04-25 15:53] arussellsaw opened #6 "Objects of varying structure within a list not added to struct"
The input string:

[code]

returns the Go Struct :
[code]

the "img" object is missing from the assets struct. i appreciate that this JSON is kinda ugly, but still a bug!

[2015-04-25 16:54] mholt commented on #6
You caught me: I was lazy and only evaluated the first element in an array to determine its structure.

I'll look into this soon, thanks for the report!

[2015-05-13 19:11] hydroflame commented on #6
Much smaller example:
[
    {
        "Occupation":"carpenter"
    },
    {
        "Name":"bill",
        "Occupation":"woodcutter"
    }
]
gives:
type Autogenerated []struct {
	Occupation string `json:"Occupation"`
}

[2015-05-28 19:05] mholt opened #8 "Support huge JSON inputs"
After fixing #6, it might be worth adding file processing support.

It would work by selecting a .json file and then processing it in a streaming fashion. This would allow super-huge JSON inputs to be processed successfully.

I've done huge file processing in the browser before with Papa Parse. The easy part (that is most useful) is loading the file in pieces -- the hard part is parsing the JSON i

[2015-06-12 11:33] cpliakas opened #10 "This is awesome"
No issue to report, just want to say thanks for releasing this project. This thing is awesome, super helpful. Saved me a bunch of time.

[2015-06-12 13:53] mholt commented on #10
Glad you like it! Thanks for commenting. :smile:

[2015-06-12 13:53] #10 closed

[2015-06-23 01:39] alexmullins opened #11 "CSV Parsing"
Matt,

Last week you recommended Papa Parse for parsing CSV data structures to Go structs.  I used your JSON-to-Go as a starting template and came up with:

https://alexmullins.github.io/csv-to-go/

Papa Parse made the task extremely simple. Just parse the CSV and set the scope to the .data JSON object representing the CSV data and that's it. Couldn't have been easier!

 The only quirk I've found

[2015-06-23 02:41] mholt commented on #11
Ha, cool! Glad it worked out well, looking forward to seeing the samples to play with. :+1:

[2015-06-23 02:57] mholt commented on #11
Also, let me know when it's ready to show off and I'll tweet it 'n stuff.

[2015-07-01 20:50] markthethomas opened #12 "Thanks!"
This was and has been a HUGE timesaver. Thank you so much!

[2015-07-01 20:51] markthethomas commented on #12
And now closing; just had to have my gratitude recorded.

[2015-07-01 20:51] #12 closed

[2015-07-01 21:06] mholt commented on #12
Glad you like it! Thanks for your comment. :smile:

[2015-11-05 00:50] kkdai opened #13 "The "https://mholt.github.io/json-to-go/" show "Unexpected token""
This web site help me a lot, please  help. Thanks

[2015-11-05 00:51] mholt commented on #13
That means your JSON input is malformed. Check it with http://jsonlint.com/.

[2015-11-05 00:51] #13 closed

[2015-11-05 00:58] kkdai commented on #13
Thanks, it seems my input include some special character when I copy from go http print. However http://jsonlint.com/  help a lot.

[2015-11-05 01:43] kkdai commented on #13
I found the json input field is rich text, it might include formatter tag once I copy json from ex:  https://dev.twitter.com/rest/reference/get/followers/list

[2015-11-05 01:44] mholt commented on #13
Oh, that's possible... paste with Cmd+Shift+V (Ctrl+Shift+V on Windows) for plaintext.

[2016-02-02 18:29] hajimehoshi opened #14 "Key "fooBar" should be converted into "FooBar""
IMHO, it seems more natural to keep upper case characters as they are. Now "fooBar" is converted into "Foobar".

[2016-02-02 19:44] mholt commented on #14
If the field name is unexported, the `encoding/json` package will not be able to access it.

[2016-02-03 02:31] hajimehoshi commented on #14
I meant JSON key 'fooBar' should be converted into Go key 'FooBar' instead of 'Foobar'. I think both would be exported.

[2016-02-03 04:01] mholt commented on #14
Oh, yes, FooBar would be exported.

I guess this makes sense, but I don't have the time right now to make that change. PRs welcome!

[2016-02-03 04:02] #11 closed

[2016-02-03 04:05] mholt commented on #8
Meh, I don't have time for this and there hasn't been much demand for it. Closing until somebody wants to work on it.

[2016-02-03 04:05] #8 closed

[2016-02-03 15:39] #14 closed

[2016-02-04 01:08] yanpozka commented on #6
Hi @mholt thanks for this repo and idea, I like a lot. I just created a PR who solves this issue

[2016-02-05 17:04] #6 closed

[2016-04-18 15:36] tj opened #17 "Publish CLI to npm?"
Would be nicer to use via CLI I think personally! Handy tool

[2016-04-18 15:46] mholt commented on #17
That's a good idea!

In the meantime, there are some CLI tools written in Go that already do this, plus they `go fmt` the output (this doesn't). Here's one: https://github.com/ChimeraCoder/gojson

[2016-04-18 15:47] tj commented on #17
ahh nice thanks! I thought I had seen another but I couldn't find it

[2016-06-08 10:01] mattn commented on #17
now about to append below into the js?
[code]

[2016-06-08 17:53] mholt commented on #17
If that works, sure! Pull request welcome :smile: I'm a bit busy this week.

[2016-06-08 18:00] mattn commented on #17
It works but must not have shebang because this is loaded from script tag. :(

[2016-10-07 00:32] yanpozka opened #18 "Bug with nested arrays"
I tried to answer this [question](http://stackoverflow.com/questions/39902502/unmarshall-nested-json-arrays-in-go-golang) in StackOverFlow with **json-to-go**, but I've found a bug, this json
`[[[{"abc": "a1"}]]]` has to be converted as slice of slices:

[code]

To be corrected Unmarshal() like [here](https://play.golang.org/p/HKrMqnxtor)

[2016-12-02 15:28] zet4 opened #20 "Handle cases where json.RawMessage should be used instead."
So in my code I have a config file in the form of
[code]

The point here is, each source is handled by it's `service`, those in turn may opt in to read optional `arguments` from it's definition. Which you can see for ibsearch I have defined.
What I get when I run this through your tool is I get

[code]

What I ideally would prefer it would generate is:

[code]
Because it would see that same struct

[2017-01-15 20:49] dcarbone opened #21 "Features and Ideas"
Hey there,

First I want to thank you for creating this generator, was a big help.

Secondly, I have created my own implementation of this in php here: [dcarbone/json-to-go](https://github.com/dcarbone/json-to-go)

I added a few features I needed for various projects, namely:

- Convert simple type (string, int, float, bool) literals into pointers. This is helpful when you need to need to have a t

[2017-02-10 15:54] mholt commented on #18
Thanks to @ShevaXu, I think this is now fixed. :)

[2017-02-10 15:54] #18 closed

[2017-02-10 18:15] mholt commented on #17
It's not on NPM but is #23 good enough for your needs?

[2017-02-10 18:17] mholt commented on #21
Hey @dcarbone - thanks for your feedback! Glad you liked it enough to fork and build on it. I did read your post but I need to go through it again in more detail when I have a chance; I do have a few questions on some of those points. Other projects are consuming my time right now, so it might be a while.

[2017-04-04 09:04] wayneashleyberry opened #24 "Copy struct to clipboard"
Hey @mholt! Thank you so much for this tool, the amount of time you've saved me is astounding.

To make things even easier, would you be open to me adding a "copy to clipboard" on the output field? I think it'd be quite nice :)

[2017-04-05 00:24] mholt commented on #24
Thanks for the suggestion! Can that be done without Flash?

[2017-04-05 06:28] wayneashleyberry commented on #24
Yup, don't need flash @mholt :)

[2017-05-01 13:45] wayneashleyberry commented on #24
Closing this issue - will leave the PR open

[2017-05-01 13:45] #24 closed

[2017-05-23 03:58] evercyan opened #26 "array field parse error"
like this:

[code]
parse ret:

[code]

"A" should be interface{}, not "int".

[2017-07-06 08:23] ncw opened #27 "Clear button and Copy button"
I love your tool - I've been using it a lot recently!

My work flow generally is copy some bit of javascript, go to the tool, realise that it has the last bit of javascript I put in already there and click refresh.  A clear button on the left hand side to clear the left hand form would be very useful in this situation.

Likewise a copy button on the right hand side to copy the output of the RHS te

[2017-07-06 11:47] mholt commented on #27
I've been thinking about an improved UI anyway. Good idea!

When I get around to it, I'll make sure this gets in there. :)

[2017-07-06 15:49] ncw commented on #27
Thanks :-)

[2017-08-02 18:53] nagamalli9999 opened #29 "Highlight the error characters or selection"
Unexpected token ' in JSON at position 133. doesn't say much. It will be great to see where the error is

[2017-09-04 16:43] ritz078 commented on #27
@mholt I would like to add this on https://transform.now.sh and also publish as a separate npm package.

[2017-09-10 01:18] rodrigo-brito opened #31 "Map interface version"
Hello @mholt,
I construct a similar version of this tool: https://github.com/rodrigo-brito/json-to-go-map
That version converts the JSON to a `map[string]interface{}`, that can be used for simple serialization in tests or small features.

Your tool is very useful and amazing, helped me a lot, so many times. Thank you so much! :heart:
I hope that you enjoy this version.

Best regards,
Rodrigo Brito

[2017-09-10 03:41] mholt commented on #31
Fabulous! Thanks for sharing, glad you find this one useful too. :)

Don't mind if I close this. Thanks again for letting me know about it!

[2017-09-10 03:41] #31 closed

[2017-10-06 17:47] yepher opened #32 "Handle arbritrary keys"
First off thanks for making this tool. I've used on several projects. One issue I've bumped into a few times now is:

Some services, use JSON where the keys are arbitrarily generated. Here is an example where I handle this in my own [code](https://github.com/yepher/OpenDNS_Monitor/blob/master/monitorDNS.go#L45).

## Sample JSON input

[code]

In this case the keys "22345678" and "12345678" are dyn

[2017-10-30 13:36] alshakero commented on #29
Done in https://github.com/mholt/json-to-go/pull/33

[2017-10-30 15:00] #29 closed

[2017-11-15 09:35] wuyachao opened #34 "json decode to struct isn't correct?"
this is json data from ElasticSearch.
[code]

result is missing `query.bool.filter.term.module`.the first term is ok. The two term can't combine because of Elasticsearch's syntax.

[2017-11-16 08:20] #34 closed

[2017-11-16 08:21] wuyachao commented on #26
the same to me :https://github.com/mholt/json-to-go/issues/34

[2017-11-29 07:42] itzurabhi opened #35 "Option to generate non-anonymous structs as output"
I have found this application extremely useful. Thank you for your time and effort!

However, to enable the re-use of the nested structures ( not just for parsing ) , It would be great to have an option to generate named structs.
Instead of this
[code]
it would generate
[code]

[2018-01-17 15:25] bobbytables commented on #35
Yeah I'd love this too, @mholt any idea where a good place to start on this would be? Maybe I can take a crack at it.

[2018-01-17 17:23] mholt commented on #35
Maybe if the third argument to the `jsonToGo` function was optional and, if true, would split out the types. I haven't thought about how it'd be implemented. Maybe an object to map the type names to their definitions as you recursively parse the structure.

[2018-01-18 20:42] miroswan opened #36 "Would you be open to a PR that supported pointer values?"
In both the tool and the site. I tend to prefer structs that use pointer values so I can check if the value was omitted.

[2018-03-07 10:29] yale8848 opened #37 "can json-to-go convert without nest struct"
[code]
json-to-go will convert json to under:

[code]
can json-to-go convert like this without nest struct?

[code]

[2018-03-09 16:08] mholt commented on #37
Duplicate of #35

[2018-03-09 16:08] #37 closed

[2018-04-10 20:20] ORESoftware opened #38 "values are lost in translation"
<img width="1161" alt="screenshot 2018-04-10 21 20 08" src="https://user-images.githubusercontent.com/11139560/38581503-029928e2-3d05-11e8-93fc-0e7852026b7b.png">

where do "bar" and "baz" disappear to???

[2018-04-10 22:52] mholt commented on #38
Hi, this tool only gives you a structure -- a type definition -- not a value. :) You will have to initialize a struct with your value to put the values in it. json.Unmarshal is what you're looking for.

[2018-04-10 22:52] #38 closed

[2018-04-11 12:35] ORESoftware commented on #38
yeah sorry, I am new to golang.

I thought a struct would have the value, but the interface would NOT have the value.

that would have been my guess.

[2018-06-06 13:48] jackdoe opened #39 "no issue; just thanks"
brilliant work!
I was absolutely not looking forward to generate struct for this super complicated JSON api

Thanks a lot for publishing this, it made my day.

[2018-06-06 13:50] jackdoe commented on #39
i wish github had a better way of saying thanks.

[2018-06-06 13:50] #39 closed

[2018-06-06 16:33] mholt commented on #39
I am so glad you posted this. Thanks for the kind remarks, and I'm glad it made your day! :smile:

[2018-08-29 16:57] gabrielruiu commented on #35
I would like give this feature a try. But before that, I'm interested in understanding how active the developer is before attempting to contribute. I've noticed there's a PR (https://github.com/mholt/json-to-go/pull/25) which has gone untouched for some time. I would like to know, if I actually get this done that it will be merged.

Additionally, great job on the library!

[2018-08-29 17:10] mholt commented on #35
@gabrielruiu

I'm here -- that PR is inactive because the author didn't respond to my review.

[2018-09-03 04:58] mholt commented on #36
Sure, it could be a checkbox.

[2018-09-03 05:07] #17 closed

[2018-10-04 10:22] coolboi567 opened #40 "Request for Go Package"
It would have been amazing if we had a **JSON-TO-GO** package which converts our unexpected JSON to definitive Go structure.

[2018-10-04 20:18] mholt commented on #40
But JSON-to-Go is written in Javascript...

There are other packages which do this in Go.

[2018-10-04 20:18] #40 closed

[2018-11-08 08:00] gitchander opened #42 "type of element array"
json:

{
     "float-array":[0.1, 2.4, 3]
}

result:

type AutoGenerated struct {
	FloatArray []int `json:"float-array"`
}

[2018-11-29 08:21] #42 closed

[2018-12-23 01:57] mholt commented on #35
For the record, this is still up for grabs if anyone wants to tackle it.

[2019-01-21 19:35] #20 closed

[2019-01-22 00:13] mholt commented on #20
Is this no longer wanted?

[2019-01-22 00:16] zet4 commented on #20
Just cleaning up my issue backlog, I personally don't have a need for it anymore and nobody else touched this in the last 2 years.

[2019-01-31 02:21] XxYyKk opened #43 "would you like to write a sql to go ~~"

[2019-01-31 06:13] mholt commented on #43
No, but you may if you wish

[2019-01-31 06:13] #43 closed

[2019-02-09 04:29] CreatCodeBuild opened #44 "How is the editor implemented?"
May I ask how the editor is implemented?

[2019-02-09 06:26] mholt commented on #44
Just a contenteditable div: https://github.com/mholt/json-to-go/blob/b9c0a5760d443bb81a925e3cc536f290d2a31fb9/index.html#L48

[2019-02-09 06:26] #44 closed

[2019-03-04 02:53] mholt commented on #35
Done in #47

[2019-03-04 02:53] #35 closed

[2019-03-04 17:58] jcbwlkr opened #50 "Named types fails on arrays of objects"
Hello! Thanks for this great tool. I tried out the new non-anonymous structs feature and noticed a bug so I thought to let you know.

When you have an object that has a field which is an array of objects the generator fails. For example, this input:

[code]

When used with the classic behavior it works fine. When I uncheck the box so I get two separate types I instead get this
[code]

[2019-03-04 18:56] mholt commented on #50
Oops, it's possible that I broke this by adding a `\n` somewhere, recently.

[2019-03-04 23:26] suntong commented on #35
Wow, I'm just about to ask, and found it is closed only 20 hours ago. Sweet!

@mholt, where can I try it out? Would you update your https://mholt.github.io/json-to-go/ as well please?

thx

[2019-03-05 02:12] mholt commented on #35
@suntong It is updated. Hard-refresh your browser; clear the cache too. Might have to delete the service worker.

[2019-03-05 05:18] suntong commented on #35
Ah, yeah. got it. thanks. However, there are still duplicated definitions. E.g.,

If you try the example for GitHub, you'll notice that it makes three Owner structs:

[code]

[2019-03-05 06:02] mholt commented on #35
I haven't deployed the latest on master yet, but you're welcome to use it: https://github.com/mholt/json-to-go/pull/49

[2019-03-05 14:15] suntong commented on #35
Oh, I was hoping that you would update your https://mholt.github.io/json-to-go/ to the latest as well. Do you have recent plan to do that?

Meanwhile, how can I use #49, or json-to-go? Any document anywhere that I can follow?

thx

[2019-03-05 15:32] mahdi-hosseini commented on #35
@suntong
1. Open your web browser console, preferably Google Chrome.
2. Copy and paste the contents of `json-to-go.js` and hit enter.
3. Replace the test JSON below with yours and once you have done that, hit enter and you should get your Go code.

[code]

[2019-03-05 15:42] suntong commented on #35
got it, and the duplicated definitions are gone. THX!

[2019-03-05 22:13] suntong commented on #35
@mholt & @mahdi-hosseini,

The following json works for previous anonymous struct, but not the current non-anonymous structs. I just get `undefined`.

Would you double-check please? Thx!

[code]

[2019-03-05 22:45] mahdi-hosseini commented on #35
@suntong I looked into this and it doesn't seem to be a regression caused by the flatten option that I added. So it looks like you have found a new bug. I presume you need to create a new issue as it's unrelated to flatten logic.

[2019-03-05 22:49] suntong opened #51 "non-anonymous struct regression"
The following json works for previous anonymous struct, but not the current non-anonymous structs. I just get `undefined`.

Would you double-check please? Thx!

[code]

_Originally posted by @suntong in https://github.com/mholt/json-to-go/issues/35#issuecomment-469879323_

[2019-03-05 22:50] suntong commented on #35
thanks for checking @mahdi-hosseini , opened in #51.

[2019-03-05 23:00] mahdi-hosseini commented on #51
@suntong As mentioned in my comment https://github.com/mholt/json-to-go/issues/35#issuecomment-469889548, this is not a regression.

Also upon further investigation, I noticed that it works fine when I tested it using Node.js but not Google Chrome. This is the output I got:
[code]

So I think this issue can be closed. The solution I purpose is either to wait till it becomes available at https://mh

[2019-03-05 23:12] mahdi-hosseini commented on #51
Here is how to run it locally using Node.js:
1. Install Node.js LTS from https://nodejs.org/en/
2. Clone the **json-to-go** repository
3. Create a `app.js` file in the same location as the `json-to-go.js`
4. Create a new `data.json` file with your JSON data
5. Paste the following in the `app.js`
[code]
6. Run `node app.js` from terminal in the same folder

[2019-03-05 23:14] suntong commented on #51
Sure. thanks for all the helps.

[2019-03-05 23:18] suntong commented on #51
Are these output correct?

[code]

They are missing the type definitions in my view.

[2019-03-05 23:23] suntong commented on #51
Confirmed, I got:

[code]

[2019-03-06 00:10] mahdi-hosseini commented on #51
I will look into it.

[2019-03-06 05:55] cixtor opened #53 "Missing data types in nested struct"
Take the JSON object below and try to generate a Go struct.

You’ll notice that both “user_agent” and “referer” will end up lacking the “string” type.

[code]

![missingtype](https://user-images.githubusercontent.com/1933999/53859006-2419f700-3f91-11e9-80c9-d0483db43606.gif)

[2019-03-06 06:12] mahdi-hosseini commented on #53
Thanks for reporting. It appears to be a regression caused by https://github.com/mholt/json-to-go/pull/47. I will work on a fix.

[2019-03-06 06:27] mahdi-hosseini commented on #53
https://github.com/mholt/json-to-go/pull/52 should address it when it gets merged.

[2019-03-06 21:02] #51 closed

[2019-03-06 21:57] schollz opened #54 "Problem with array of structs"
I love this tool and love the recent upgrade to split out the different struct types!

I ran into a possible bug with arrays of structs, though. I want to fix it but I'm not sure how and could use some pointers.

I tried this minimal JSON where `array` contains an array of a struct `{"word":"X"}`:

[code]

which will give me the following Inline definition:

[code]
1. There is a problem that this

[2019-03-07 04:24] mahdi-hosseini commented on #54
The latest commit has resolved this, you have to wait till it gets deployed at https://mholt.github.io/json-to-go/

These are my outputs, with and without the inlining:
[code]

[code]

[2019-03-07 04:27] schollz commented on #54
Awesome! Thanks for your help

[2019-03-07 04:27] #54 closed

[2019-03-07 04:32] mahdi-hosseini commented on #54
You're welcome!

[2019-03-07 04:49] mholt commented on #54
Just deployed it

[2019-03-07 04:49] #53 closed

[2019-03-07 04:49] #50 closed

[2019-03-07 07:00] godcong opened #55 "struct body parse miss"
for example:
{
      "mounts": [
        {
          "child": {
            "path": "blocks",
            "shardFunc": "/repo/flatfs/shard/v1/next-to-last/2",
            "sync": true,
            "type": "flatfs"
          },
          "mountpoint": "/blocks",
          "prefix": "flatfs.datastore",
          "type": "measure"
        },
        {
          "child": {
            "compression": "

[2019-03-07 16:27] mholt commented on #55
@mahdi-hosseini I'm going to send you an invite to be a collaborator on this project, that way you can have rights to merge PRs into master and even update gh-pages without having to wait for me. :+1:

[2019-03-07 19:59] cixtor commented on #53
@mahdi-hosseini — @mholt : are you two completely sure this bug has been fixed?

I just tested this JSON in the live version of the project and it still fails to add some types:

[code]

Notice how all the fields inside Licenses are missing the type:

[code]

[2019-03-07 20:01] mholt commented on #53
Yes, I'm sure. I get:

[code]

Make sure your cache is totally cleared.

[2019-03-07 20:02] cixtor commented on #53
Oh! You are right 😲 it was the browser cache. Thank you very much 👍

[2019-03-08 02:26] mahdi-hosseini commented on #55
@mholt Awesome, thanks! The goal is to segue to maintaining caddy 😛

[2019-03-08 05:11] #55 closed

[2019-03-08 05:22] mahdi-hosseini commented on #55
This is resolved. Make sure to hard refresh or use your browser's private/incognito mode to see the changes.

[2019-03-08 06:08] godcong commented on #55
yes,i tried it.

the result has two child struct:
type AutoGenerated struct {
	Mounts []struct {
		Child struct {
			Path      string `json:"path"`
			ShardFunc string `json:"shardFunc"`
			Sync      bool   `json:"sync"`
			Type      string `json:"type"`
		} `json:"child,omitempty"`
		Mountpoint string `json:"mountpoint"`
		Prefix     string `json:"prefix"`
		Type       string `json:"type"`
		Chil

[2019-03-08 06:17] mahdi-hosseini commented on #55
@godcong That's by design. I wanted to leave the decision of combining the two structs to the Go developer. In general JSONs can have arbitrary type of data in them. A generalization like that comes with assumptions and trade-offs.

[2019-03-08 06:18] mahdi-hosseini commented on #55
@mholt Please let me know if you have a different take to my response.

[2019-03-08 19:04] josephspurrier opened #58 "Types are no longer showing up in the final output."
Name should have a type of "string".

![image](https://user-images.githubusercontent.com/2394539/54049627-045e1b00-41ab-11e9-8e40-1e2099f6c650.png)

[2019-03-08 19:10] mahdi-hosseini commented on #58
Hard refresh to re-enter to get the right output.

This is what I got:
[code]

[2019-03-08 19:10] #58 closed

[2019-03-08 19:11] josephspurrier commented on #58
Yep, that works. Thanks for the quick reply!

[2019-03-19 03:59] zzyheart opened #59 "not support uint64"
uint64 value as 17307661572205707265 will be convert to int64, which case unmarshal error

[2019-03-23 08:14] MikhailKlemin opened #60 "Web version does not work"
Hi there,
https://mholt.github.io/json-to-go/
Does not works (it ommits declarations like this:)

[code]

[2019-03-23 15:06] mholt commented on #60
Clear your browser cache and hard refresh :wink:

[2019-03-23 15:06] #60 closed

[2019-03-24 01:36] zychappy opened #61 "sample.json convert to json not exactly corect"
some param lacks type
![image](https://user-images.githubusercontent.com/9582529/54873749-5b552880-4e18-11e9-8e78-789f690e678b.png)

[2019-03-24 01:37] mholt commented on #61
Please do a hard refresh and clear your cache -- if it persists, please provide the input that produces this error.

[2019-03-24 01:37] #61 closed

[2019-03-25 07:45] mahdi-hosseini commented on #59
Contributor here. JavaScript uses IEEE 754 floating point number system and only supports 53-bit numbers. Adding support for that can be quite involved and may need non-trivial preprocessing of the original JSON before parsing. uint64 would be a nice thing to have but it may not worth pursuing.

As a workaround, you can inspect the JSON and change the data type in the output Go code, based on the

[2019-03-26 09:13] plutov opened #62 "Go to JSON"
I was using the site to convert JSON to Go structs, but recently I wanted to do an opposite to get a JSON string from my Go struct, and it's not yet possible.

Do you think it will make sense to have this option as well? Using left/right arrows and make interface bi-directional.

If you are happy with this idea, I can provide a PR.

[2019-04-04 13:01] forgerock1 opened #63 "Name like PM1.0 gets "translated" into PM1.1."
Hi. Thanks for the tool, this is a great thing to avoid typos and reduce efforts.
I found an issue when using it, here the example:

JSON:
[code]

Produces:
[code]

Where as you can see the PM1.0 , P1.0 and P5.0 get a wrong name

  Regards,
--

[2019-04-25 02:11] jmhodges opened #64 "blank output for WAR.json"
So, I threw this code at WAR.json from https://mtgjson.com/downloads/sets/ (https://mtgjson.com/json/WAR.json) and I get a number of blank lines as the output:

[code]

This is with node v11.14.0

[2019-04-25 04:10] mholt commented on #64
Works fine for me in the browser (after several seconds). Maybe you're holding it wrong? 🤷‍♂️

[code]

[2019-04-25 04:10] #64 closed

[2019-05-10 17:43] DCRichards opened #65 "Merge duplicate struct definitions"
Where there are multiple properties which reuse the same nested properties, the corresponding struct definition should be flattened. Take the following JSON:

[code]
Expected output:

[code]

Actual output:
[code]

[2019-05-23 22:32] mholt commented on #62
I'm not sure what the output would be, since JSON is not strongly typed; I'd rather not get into JSON schemas or anything like that.

[2019-05-23 22:32] #62 closed

[2019-05-26 01:49] michaelsanford commented on #65
I just encountered this and came to file this exact issue.

I'd be willing to take a look (given the tag).

Incidentally, this tool is an absolute godsend to anyone using a public API that produces extremely verbose structures. Thank you! ❤️ 🙏

[2019-05-26 15:10] mholt commented on #65
@michaelsanford Yes, would be happy to have your contribution! Thank you!

[2019-09-23 01:08] orestonce opened #67 "if second struct's field is float64, then define float64"
* input
[code]
* current output:
[code]
* expected output:
[code]

[2019-09-29 15:15] michaelsanford commented on #27
@ritz078 FYI The link does not (currently) work with a trailing slash 👉 https://transform.now.sh/json-to-go

[2019-09-29 17:03] michaelsanford commented on #67
This shares the same cause as #26 : the parser only considers the _first_ instance of a key-value pair it encounters. This is time- and space-efficient.

I've been playing with solutions, but they're all complicated.

The way I see it, we need an intermediary AST-like layer (probably) represented as native JavaScript objects/arrays) that contains only type information. As the parser traverses the

[2019-10-04 03:29] ComputerFanboy commented on #12
I would also like to thank you, is there a way to donate? If not, please add one.

[2019-10-04 03:32] mholt commented on #12
@ComputerFanboy Really informally, I guess, is this generic page I use to accept payments: https://matt.life/pay

I'm truly glad you find it helpful!

[2019-10-22 01:18] zzyheart commented on #59
Thanks!

[2019-10-22 01:18] #59 closed

[2019-11-11 12:48] kevsersrca opened #70 "About escape characters"
I tried json-to-go with the chrome-lighthouse json file. But struct names are not cleared, so I can't use them. Therefore I can't unmarshall json.

Example:

[code]

result:

[code]

[2019-11-19 05:00] mholt commented on #70
What is unusable about that result, exactly? It looks fine to me. Or am I missing something?

[2019-11-19 05:03] mholt commented on #63
That is peculiar... thanks for the report!

[2019-11-20 11:33] sbres opened #71 "Error while parsing valid json"
First of all, thank you for this tool it is very helpful.

I was trying to encode this value:

`[{"holder1": {"type1": [["value1", "value2"], ["value1", "value2"]]}}]`

And it resulted in this error:

`5:15: expected ';', found '[' (and 1 more errors)`

The smallest structure that still shows the error is the following.

`[{"holder1": {"type1": [["value"]]}}]`

[2019-11-20 13:51] mholt commented on #71
Thanks for reducing down the problem! I just pasted in your structure and it works just fine for me:

[code]

[2019-11-20 13:54] sbres commented on #71
I just tried it again.

It does work when "Inline type definitions" is set, but not when it's not set.

[2019-11-20 14:34] mholt commented on #71
Ah, you're right. @mahdi-hosseini any idea what might be causing this?

[2019-11-20 15:29] mholt commented on #71
Oh, and to be clear, I suspect this might be the output of `gofmt`, i.e. the resulting Go code is not syntactically valid.

[2019-11-21 00:32] mahdi-hosseini commented on #71
Hi Matt, I will look into it this weekend!

[2019-11-21 07:41] kevsersrca commented on #70
[code]

So it `\n` adds. therefore return error.

[2019-11-21 17:23] mholt commented on #70
There is no line break when I paste your input into JSON to Go:

[code]

(That's a direct copy+paste)

Probably has something to do with your system.

[2019-11-21 17:23] #70 closed

[2019-11-25 05:51] mahdi-hosseini commented on #71
The issue does not seem to be caused by `gofmt` but rather the output of `jsonToGo()` is invalid Go `struct`. There is an extraneous `Type1` in the output when the function is called with `flatten = true`, see here: https://play.golang.org/p/tpFHAOmFQk8

So this is probably a bug. I may be able to look into it further when I have the time.

[2019-11-25 16:15] mholt commented on #71
Ah, nice catch. Thanks for looking into it!

[2019-12-05 20:37] #63 closed

[2019-12-27 04:13] aneeskA commented on #71
I encountered the same problem. Just wondering if there is a work around for this issue.

Excellent tool, by the way.

[2020-03-31 02:01] mengzhuo opened #73 "Change domain to json.to-go.online?"
Hi, Matt

I'm the author of yaml-to-go and I bought a domain "to-go.online".
I've set http://yaml.to-go.online to my project and it looks good.
Would you like to add json-to-go to http://json.to-go.online ?

Thanks.

p.s. I've set json.to-go.online cname to mholt.github.io
You can change it in Github project settings.

[2020-04-06 20:55] mholt commented on #73
Thanks for the offer! I think I'm happy with it where it is right now though. :+1:

[2020-04-06 20:55] #73 closed

[2020-04-20 17:09] YaroslavPodorvanov opened #74 "Proposal: optimize size and request count"
[JSON-to-Go](https://mholt.github.io/json-to-go/) use [highlight.js](https://highlightjs.org/) and load **all** languages
[JSON-to-Proto](https://json-to-proto.github.io/) (copy-paste of JSON-to-Go) also use **highlight.js** but load **one** language

If you agree ➡️ i will rewrite with Webpack and one build file ➡️ this reduce loaded size

[2020-04-20 21:22] mholt commented on #74
Sure, submit a PR and I'll take a look.

[2020-04-20 23:05] YaroslavPodorvanov commented on #74
Great, this is first ready step ➡️ #75

If you agree ➡️ i will use https://webpack.js.org/guides/lazy-loading/ to extract 700 KB of gofmt.js to lazy loading, and some clear code

[2020-05-11 19:56] theriverman opened #76 "Error parsing [][]string structure"
Hi,

The following JSON is parsed incorrectly when NOT using inline structures:
[code]

When using inline structures, it's converted as expected:
[code]

When NOT using inline structures, parsing fails:
[code]
It should return something like:
[code]

Thanks for the awesome tool!

[2020-08-24 17:14] alok87 opened #77 "JSON to go is not working when json list has "null" values"
## Program
https://play.golang.org/p/RCIvR0wGjvZ

[code]

## Error
`panic: json: cannot unmarshal object into Go struct field Fields.fields.type of type []interface {}`

More Info: https://stackoverflow.com/questions/63564543/decode-a-debeuzium-event-schema-into-a-meaningful-datastructure-in-golang

## Question
Please suggest why such jsons are not converting and would be right go type for this sc

[2020-08-26 13:38] decima opened #78 "Error on generation of nested objects in array"
Found a little issue on substructures in nested objects in array.

For example :
[code]
will generate:

[code]

[2020-08-26 16:28] mholt commented on #78
Thanks!

Does anyone have time to submit a patch? I'm a bit swamped this week and next.

[2020-08-26 16:36] mholt commented on #77
The array has different kinds of values, strings and objects, so decoding it properly isn't obvious because there is no one type that fits it, you have to use type assertions to get what you want or implement a custom unmarshaler.

Closing, as this is more a question about Go than this project.

[2020-08-26 16:36] #77 closed

[2020-08-27 07:44] decima commented on #78
I take a look at the code, and I don't know which "merge/duplicate"strategy you want to use :

_should B be a struct with B1,B2,B3,B4 or should we have two structures BFirst {B1, B2} BSecond {B3,B4} ?_

The second strategy (name it "duplicate") seems easier to implement as we could image B struct and B_uuidv4() struct as you already do. For my case I wanted the first strategy ("merge") but that wo

[2020-10-29 18:47] zen37 opened #79 "cannot unmarshal number <very long number> into Go struct field ... of type int64"
https://ifconfig.co/json returns "ip_decimal":20 digits number
It is translated into int64, it should have been float64 to avoid the error.

Some edits to make it clearer.

[2020-10-29 18:49] mholt commented on #79
Why? It's an integer...

[2020-10-29 18:52] zen37 commented on #79
there was no error when changing the data type of the Go struct field from int64 to float64

[2020-10-29 20:11] mholt commented on #79
That doesn't mean it is right? Anyway, closing... nothing to do here. You're free to change it yourself.

[2020-10-29 20:11] #79 closed

[2020-10-29 20:37] zen37 commented on #79
GO int64 is 19 digits.
If JSON number is > 19 digits convert to float64, if not leave it as it is now, int64.

[2020-10-29 20:39] mholt commented on #79
The number is only 10 digits long.

[2020-10-29 20:41] zen37 commented on #79
The number retrieved in https://ifconfig.co/json is 20 digits long.

[2020-10-29 20:50] mholt commented on #79
It's 10 for me, but I see you just edited your original post to specify 20 digits. Maybe you are using IPv6.

A 64 bit integer has more unique values than a 64 bit float.

Using floats for integer values will be wrong for most users. If you require floats, just change it in your code.

[2020-11-01 05:11] zen37 opened #80 "function goType(val) returns int64 instead of float64"
If val = 12345678901234567890 or 12345678901234567890.5 float64 should be returned instead of int64.

`	case "number":
		if (val % 1 === 0)
				{
					if (val > -2147483648 && val < 2147483647)
						return "int";
					else
						return "int64";
				}
				else
					return "float64";`

should be replaced with

`	case "number":
			if (val % 1 === 0)
        {
        if (val > -2147483648 && val < 2

[2020-11-11 12:23] huahuayu opened #81 "valid json can't be convert to struct"
below json is a valid json, but can't be convert to struct define , error : `Unexpected token  in JSON at position 1`, please check

Ps. http://json2struct.mervine.net/ will work

[code]

[2020-11-17 14:15] woodpenker commented on #81
It works well now.

[2020-11-18 08:57] huahuayu commented on #81
yes, it works now.

how about this, it don't work

[code]

[2020-11-18 18:49] mholt commented on #81
Works fine for me. Must be something wrong with what you're pasting into the textbox.

[2020-11-18 18:49] #81 closed

[2020-11-24 07:50] KKKIIO opened #86 "Support SCREAMING_SNAKE_CASE to camelCase"

[2020-11-24 17:04] mholt commented on #86
What does this mean? You left the issue blank.

[2020-11-24 17:04] #86 closed

[2020-12-04 04:08] Nishan8583 opened #87 "XSS vulnerability"
There is vulnerability in the json input, where the value in a valid json is rendured as HTML.

Use the following payload in the JSON input section to reproduce:

**{"matches": [{ "data": "HTTP/1.1 <script>alert(1);</script>\r\nServer: nginx\r\nDate: Thu, 03 Dec 2020 02:18:19 GMT\r\nContent-Type: text/"}]}**

[2020-12-04 15:51] mholt commented on #87
I tried pasting that in, but it does not execute an alert for me...

[2021-03-02 13:11] pittidoe90 opened #88 "Error on parsing regExp as String"
If you try to parse a regExp within a string it returns a error.

for example:

`{"regExp":"\d+"}`

![image](https://user-images.githubusercontent.com/75275635/109653328-3370b280-7b61-11eb-98ac-6ecf32888bc4.png)

[2021-03-02 17:22] mholt commented on #88
Pretty sure `\d` is not a valid escape sequence; see https://jsonlint.com/. You need `\\d` for a literal backslash.

[2021-03-02 17:22] #88 closed

[2021-03-08 10:17] sarathsp06 opened #90 "outdated: https://mholt.github.io/json-to-go/"
@mholt the website seems to be not upto-date with. the code in the repo, could you please update that

[2021-03-09 20:26] mholt commented on #90
Done

[2021-03-09 20:26] #90 closed

[2021-03-10 02:33] Nishan8583 commented on #87
@mholt

Thats strange, it does not work for me now as well. Well, this new payload works

```{"matches": [{ <script>alert(1);</script>: "HTTP/1.1 \r\nServer: nginx\r\nDate: Thu, 03 Dec 2020 02:18:19 GMT\r\nContent-Type: text/"}]}```

[2021-03-10 02:36] Nishan8583 commented on #87
{<script>alert(1);</script>:""asd"}

[2021-03-10 08:42] huahuayu opened #91 "it not working now"
below json can't be transform
[code]

[2021-03-10 18:30] mholt commented on #91
Works for me:

[code]

[2021-03-10 18:30] #91 closed

[2021-03-19 08:49] buildingwatsize opened #92 "VSCode Extension ?"
Is there any chance that this project will be a VSCode Extension?

Appreciate.

[2021-03-19 17:39] mholt commented on #92
Anyone's welcome to do that, but I don't have the time for it.

[2021-03-23 09:37] chatenilesh commented on #78
Similar issue with key-value in json. Ex:
[code]

Should be
[code]

Instead of
[code]

[2021-04-18 20:51] Maracko commented on #92
I am interested in doing an extension for json-to-go

[2021-04-20 18:30] Maracko commented on #92
It is live at https://marketplace.visualstudio.com/items?itemName=maracko.json-to-go

Any feedback is welcome!

[2021-04-20 19:43] mholt commented on #92
That's cool! I will have to try this out.

[2021-04-21 01:24] buildingwatsize commented on #92
Interesting! It's actually good. 👍

[2021-04-21 22:49] mholt commented on #92
We can probably close this, then.

Feel free to submit a PR to add a link to it on the web page!

[2021-04-21 22:49] #92 closed

[2021-04-23 13:02] calumj opened #93 "mholt.github.io/json-to-go isn't outputting CamelCase as expected"
The version of json-to-go hosted at mholt.github.io is currently ignoring the casing of the input JSON.

Input:

[code]

Output:

[code]

Expected Output:

[code]

I have tried clearing service workers and running in incognito and the issue persists.

[2021-04-24 10:22] hirochachacha commented on #93
I sent PR #94

[2021-05-26 12:14] mikegleasonjr commented on #93
Same thing on the VS Code extension, just to be clear that it is not only on `mholt.github.io`...

[2021-06-06 01:19] mholt commented on #93
Should be working now

[2021-06-06 01:19] #93 closed

[2021-07-15 18:13] Capable-Disk4147 commented on #65
@michaelsanford Are you still working on this?

[2021-07-30 09:18] lhlyu commented on #76
@theriverman

You can try this online [tool](https://github.com/misakafs/json-to-go)

[2021-07-30 09:20] lhlyu commented on #71
@sbres @aneeskA
You can try this online [tool](https://github.com/misakafs/json-to-go)

[2021-09-01 13:02] jxsl13 opened #98 "data field parsed as []int instead of []float32/64"
json
[code]

structs
[code]

[2021-09-17 16:58] carlmjohnson opened #100 "Use placeholder for emptyInputMsg and emptyOutputMsg"
The page uses JS to put in emptyInputMsg and emptyOutputMsg, but if you paste too fast while it's loading you can end up with the empty message at the bottom of your input. In modern HTML, this is built into the browser now, so there's no need to handle this manually in JS. Just change the input tag to `<input placeholder="Paste JSON here">` and browsers will handle it all automatically.

[2021-09-17 17:32] mholt commented on #100
Thanks, but I just tried and that doesn't seem to work for `<div>` tags.

[2021-09-17 17:32] #100 closed

[2021-10-20 13:14] michaelsanford commented on #65
@Capable-Disk4147 My gosh, this one slipped under my radar. Many apologies: I am not.

[2021-10-20 13:48] DCRichards commented on #65
I should be able to take a look, but I'm AFK a bit ATM so if someone else is keen then feel free

[2021-11-12 22:05] brock-weaver-roostify opened #101 "Add support for "example" annotation used by Swaggo"
Would be nice to have the "example" annotation optionally emitted, which is used by [swaggo](https://github.com/swaggo/swag#example-value-of-struct).

e.g.: This:
[code]

would emit:

[code]

In case there are multiple values, grabbing the most convenient one would make sense. e.g.:

[code]

would emit:
[code]

I will have a PR for this shortly.

[2021-11-22 22:44] #101 closed

[2021-12-10 21:55] foogod opened #103 "Pasting from terminal window into entry box includes hidden formatting which breaks parsing"
I was just trying to use https://mholt.github.io/json-to-go/ and found that it seemed to be unable to parse anything I was pasting into it, despite it being valid JSON.  Even more strange was that it seemed to be complaining about whitespace characters being present in the input (which should be fine), but then if I typed the same thing by hand (with the same whitespace) it liked it fine.  Even we

[2021-12-13 19:26] mholt commented on #103
I noticed this too; probably some JS needed to prevent pasting of rich text (sigh): https://stackoverflow.com/questions/58980235/stop-pasting-html-style-in-a-contenteditable-div-only-paste-the-plain-text

[2021-12-14 09:08] emicklei commented on #65
I encountered the same problem, here is my simplified example for inspiration.

[code]

[code]

I will have a look at the code later to see if I can help

[2022-01-13 22:53] sbres commented on #71
I've done a check and the website is able to convert the JSON to a go struct

[2022-01-13 22:53] #71 closed

[2022-02-15 08:08] madislohmus opened #104 "JSON key "2.0" gets converted to "2.1" struct tag"
Input `{"2.0":"asdg"}` gets converted to:
[code]

[2022-02-15 16:45] mholt commented on #104
Can't reproduce:

[code]

yields

[code]

[2022-02-15 17:05] madislohmus commented on #104
Sorry, just checked and it only happens with chrome and when I'm logged in. Doesn't happen in incognito, or using chrome as a guest or in Safari. Just to show that I'm not completely crazy:

https://user-images.githubusercontent.com/6338873/154111894-9e59c37f-70f4-4f6f-a871-e0eab479408b.mov

[2022-02-15 18:15] #104 closed

[2022-02-20 09:20] yaq-cc opened #105 "omitempty setting"
Can you expose a setting to add an omitempty tag to all fields?

It's easier to remove them manually than it is to add them manually to every single line.

[2022-02-20 18:40] mholt commented on #105
Sure, that'd be fine, I'd accept a PR adding that!

[2022-04-22 18:14] alob-mtc opened #107 "Create a VSCode extension version of this"
**Feature suggestion.**

if we can have a VSCode extension version of this. Goland IDE has this by default VSCode doesn't.

It would be really nice to have.

[2022-04-27 05:51] dumpster-of-things opened #109 "value-strings containing <x,html tags> break parsing"
Issue easily reproduced using this JSON response example from Google:
https://developers.google.com/maps/documentation/places/web-service/details#PlaceDetailsResponses

I've had issues with json-2-go breaking because of trailing commas and unecessary newlines/whitespace; and so I first copied the example JSON into my editor(sublime) in order to clean it up a bit...
After hours of manually trying t

[2022-04-27 16:21] #109 closed

[2022-05-20 03:43] dumpster-of-things commented on #109
Well heyll.
In addition to your wonderful project, I also appreciate you- for turning
my pretension into a learning opportunity
   (:

On Wed, Apr 27, 2022 at 12:21 PM Matt Holt ***@***.***> wrote:

[2022-05-29 03:00] bbkane opened #111 "Error when not using inline type definitions"
JSON:

I have validated this JSON with `jq`.

[code]

Error: `2:13: expected ';', found '[' (and 1 more errors)`

Oddly enough, when I check the *Inline type definitions* checkbox, I get the following (expected) output:

[code]

Screenshot (note the JSON extends beyond the range of this screenshot):

<img width="1481" alt="image" src="https://user-images.githubusercontent.com/6081085/170850007-11c

[2022-06-08 16:00] #105 closed

[2022-06-13 06:17] petric3 opened #115 "Elaborate on the error [feature suggestion]"
I'm getting  pretty long streamed json messages of different struct. Errors like the following one happens quite often.
![image](https://user-images.githubusercontent.com/23335373/173290627-918e81d1-1a70-4f4d-9d23-a0cfcd0f2215.png)

It's quite clear that there's redundant/empty space but it's very hard to locate it at the given position. Is it possible to elaborate on the error's position, e.g. if

[2022-06-13 15:35] mholt commented on #115
Thanks for the request. It's a good idea, but I don't generate the error message. I'm not sure if it has a particular structure or if it's just a string. If it's just a string then getting its position would be a bit hacky and inelegant. But if we could then maybe we could augment the error message ourselves to display surrounding text.

[2022-07-01 04:08] nkmr-jp opened #116 "I want you to publish JSON-to-Go as an npm package"
Hello!
I have always found JSON-to-Go useful.
I have a request, please release JSON-to-Go as an npm package.

Now I am making a CLI tool to convert API's JSON payload to go struct. ([nkmr-jp/api-to-go](https://github.com/nkmr-jp/api-to-go))
I am using JSON-to-Go code to convert from json to go.

Currently, I use JSON-to-Go by cloning it with the git clone command, but I would like to install and u

[2022-07-01 14:24] mholt commented on #116
I personally don't have any interest in publishing an NPM package of this. But someone else is welcome to I guess 🤷‍♂️

[2022-07-01 14:24] #116 closed

[2022-07-02 02:33] nkmr-jp commented on #116
Thanks for the reply!

I searched for the package on npm but couldn't find it.
(There is a cli tool called [json-to-go-cli](https://www.npmjs.com/package/json-to-go-cli), but it has not been updated for 2 years.)

Currently, I think it's best to copy and use the latest original code.
Since you have published your code at MIT, I will copy the code and use it with credit.

Thanks for the continuous

[2022-07-23 19:19] piqoni opened #117 "Incorrect Struct with JSONs which have the same key."
This JSON:
[code]

Generates a struct with multiple Data0, Data1, Data2 structs inside. (Cannot put it here as Github complains about too big)

Expected Output:
[code]

[2022-07-23 20:24] mholt commented on #117
Oh... that's tricky. It's probably because the "data" structs don't have exactly the same fields. Or something like that.

I'm a bit swamped with other things right now but I'd welcome a pull request to patch this! (Preferably one that simplifies existing code rather than adding complexity, if possible. It's likelhy an earlier version of this script doesn't have this bug; it'd be useful to know wh

[2022-09-12 07:36] Genialngash opened #118 "Add BSON support"
is it possible to add a toggle option to use bson for mongodb

[2022-10-23 06:24] apxamccallum commented on #98
json-to-go is interpreting your first data array as 0 instead of 0.00 and is using that for all your other data arrays.
However, the way json-to-go interprets zeroed and negative floats is inconsistent.

JSON:
[code]
Struct:
[code]

[2022-10-23 21:02] mholt commented on #98
Oops, wow, that's fun. Someone with a few minutes want to pitch in a fix?

[2022-10-24 17:07] apxamccallum commented on #98
I haven't worked with js in 15 years, but I'm giving it a go.
I've tried to build some test cases, test(false) is working as I would expect, but i'm not sure what test(true) is trying to do. I'm getting some results that I'm not sure what to do with:

[code]

[code]

Are you able to provide any guidance here?

[2022-10-24 17:18] mholt commented on #98
@apxamccallum I think `test(true)` is testing the case with an `example` portion added to the struct tag.

First, try to get the tests passing with `test(false)` and then see about `test(true)` -- that's probably a different problem.

[2022-10-24 18:39] apxamccallum commented on #98
#119 addresses the non-array/slice case. But an uglier hack may be required to address the array/slice case.

[2022-10-24 18:39] apxamccallum commented on #98
The hack is also what is causing the test(true) to fail. Adding 0.1 to the value makes it no longer match the test case.

[2022-10-24 18:51] mholt commented on #98
I don't have much time to think about it right now, but I'd also be ok with a way that doesn't use the regexp hack. Maybe even if it's converting the value to a string so we don't have to deal with float messiness.

[2022-10-24 19:12] apxamccallum commented on #98
After the first PR I thought of a way to deal with arrays.

Agreed a way to not use regex would probably be better, that looks like a bit bigger of a refactor then I can handle right now. I'm focusing on learning Go, so this was more of an interesting side quest.

[2022-10-24 21:09] apxamccallum commented on #98
I've put some thought to this. There doesn't seem to be a way to have JSON.parse() retain significant figures.
The only way I can see to achieve this is to modify the JSON before it is parsed., which is what is currently happening with the hack (fixed or not).

The hack is currently checking if it is a value (looks for a ":") checks if the value is a number followed by a decimal and a zero, then r

[2022-11-30 11:32] #74 closed